<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="prjt_wpf.Properties.Settings.ecoleConnectionString" connectionString="Data Source=DESKTOP-7MP3O5H;Initial Catalog=ecole;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
        <add name="prjt_wpf.Properties.Settings.DbConnectionString" connectionString="Data Source=DESKTOP-87J11FD\SQLEXPRESS;Initial Catalog=Db;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="prjt_wpf.Properties.Settings.GestionEtudiantsConnectionString" connectionString="Data Source=MEDELMAKHFI\SQLEXPRESS;Initial Catalog=GestionEtudiants;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="prjt_wpf.Properties.Settings.DbConnectionString1" connectionString="Data Source=MEDELMAKHFI\SQLEXPRESS;Initial Catalog=Db;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-24.1460.43.0" newVersion="24.1460.43.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2019.1.116.45" newVersion="2019.1.116.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Data" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2019.1.116.45" newVersion="2019.1.116.45" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
